@import 'setup';

.App {
  font-size: 125%;
  margin: 20px;
}

ul, li, a {
  color: black;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav {
  border: 1px solid red;
}

.navMenu {
  display: flex;
  justify-content: space-around;
}