@import 'setup';

.App {
  font-size: 125%;
  margin: 20px;
  width: 8.5in;
}

ul, li, a {
  color: black;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

nav {
  border: 1px solid red;
}

.navMenu {
  display: flex;
  justify-content: space-around;
}

.charTiles,
.userTiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px auto;
  .charSelectTile,
  .userSelectTile {
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      width: 100%;
    }
  }
  .linkToChar,
  .linkToUser {
    padding: 20px;
    
  }
}