@import 'setup';

.App {
  font-size: 125%;
  margin: 20px;
}

ul, li, a {
  color: black;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  display: inline-block;
}

nav {
  border: 1px solid red;
}

.navMenu {
  display: flex;
  justify-content: space-around;
}

.charTiles {
  margin: 10px;
  .charSelectTile {
    border: 1px solid black;
    // cursor: pointer;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    a {
      // display: inline;
      text-align: center;
      vertical-align: center;
      // height: 100%;
      // width: 100%;
    }
  }
}